<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExcelToDataset.Properties.Settings.ConnectionString"
            connectionString="Dsn=dd;dbq=D:\01.xls;defaultdir=D:;driverid=790;fil=excel 8.0;maxbuffersize=2048;pagetimeout=5"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>