<?xml version="1.0" encoding="utf-8" ?>
<configuration>
     <!--For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468--> 
   <configSections>
    <section name="RedisConfig" type="RedisDemo01.RedisConfigInfo, RedisDemo01"/>
  </configSections>
  <RedisConfig WriteServerList="123456@127.0.0.1:6379" ReadServerList="123456@127.0.0.1:6379" MaxWritePoolSize="60" MaxReadPoolSize="60" AutoStart="true" LocalCacheTime="180" RecordeLog="false">     
  </RedisConfig>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

<!--<configSections>
    <section name="RedisConfig" type="RedisDemo01.RedisConfigInfo, RedisDemo01"/>
  </configSections>
  <RedisConfig WriteServerList="127.0.0.1:6379" ReadServerList="127.0.0.1:6379" MaxWritePoolSize="60" MaxReadPoolSize="60"
               AutoStart="true" LocalCacheTime="180" RecordeLog="false">     
  </RedisConfig>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>-->
</configuration>