<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportViewer.Properties.Settings.nsCon" connectionString="Provider=SQLOLEDB;Data Source=.;Persist Security Info=True;Password=sa;User ID=sa;Initial Catalog=Barcode"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>